<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
	<Properties>
		<Property name="baseDir">log</Property>
		<Property name="baseFileName">event-analyzer</Property>
	</Properties>

	<Appenders>
		<RollingFile name="fileLogger"
			fileName="${baseDir}/${baseFileName}.log"
			filePattern="${baseDir}/${baseFileName}-%d{yyyy-MM-dd}.log.gz">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}">
					<IfFileName glob="${baseFileName}-*.log.gz" />
					<IfAccumulatedFileCount exceeds="10" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="de.esailors.dataheart" level="debug"
			additivity="falst">
			<appender-ref ref="fileLogger" level="debug" />
			<appender-ref ref="console" level="info" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>