# Event Analyzer

This repository is managed by the DrillViewGenerator. It's content is completely auto generated and made to give insights into our Kafka events and their corresponding views in Drill. Have a look at the [Event Types](event_types/) as an entry point to see what kind of information is available in this repository.
